body {
    background-color: #999b84 !important;
}

h2 {
    font-family: 'Nerko One', cursive;
}

img {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px white !important;
}

p {
    font-size: 1.5rem;
    font-family: 'Patrick Hand', cursive;
    line-height: 1;
}

.btn {
    font-size: 2.9rem;
    font-family: 'Patrick Hand', cursive;
    line-height: 1;
}

.col-6 {
    background-color: #e6e6e6 !important;
    margin-bottom: 50px;
}

.jumbotron {
    background-color: #c5a880 !important;
    border-bottom: solid 5px white;
}

.list {
    line-height: 5;
}

.subtitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title-text {
    position: absolute;
    transform: rotate(-10deg);
    top: 200px;
    left: 240px;
    font-family: 'Nerko One', cursive;
    font-size: 8rem !important;
    text-align: center;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#burger-devour:hover {
    color: #825959;
}

#enter-burger {
    display: block;
    margin: auto;
}

#send-burger {
    margin: 10px auto;
    display: block;
}